.slick-slide > div{
    margin: 0 10px;
    height: 100%;
}

h2{
    font-weight: 700;
}

.maucam{
    color:#FF8228;
}

.maylanh{
    border-radius: 12px;
    background-color: #F5F5F5;
    padding: 14px 0px;

}

#sideBarUser > li > span{
    color: white;
    cursor: pointer;
}

#sideBarUser > li > span:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 3px solid black;
}